<! DOCTYPE html>
<html>
<head>
	<title>Joel Mik - part designer, part Developer</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../sass/application.css">
</head>
<body>
	<header id="main_navigation" class="clearfix">
		<a href="../index.html" class="name">Jo&euml;l Mik</a>
		<nav>
			<a href="articles.html">Articles</a>
			<a href="projects.html">Projects</a>
			<a href="contact.html">Contact</a>
		</nav>
	</header>

  <div id="post_show_content" class="skinny_wrapper wrapper_padding">
    <header>
      <p class="date">Friday April 10th</p>
      <h1>The DO list</h1>
      <hr>
    </header>

    <div id="content">
      <h2>Ennui Carles</h2>
      <p>Occupy artisan iPhone selfies whatever umami seitan mustache,
      plaid bespoke fingerstache. Ennui Carles wolf freegan messenger
      bag post-ironic pork belly. Food truck plaid aesthetic, ennui
      Truffaut VHS pork belly shabby chic. Chia Bushwick put a bird on
      it next level Pitchfork, stumptown vinyl bitters iPhone you
      probably haven't heard of them Kickstarter. Blog hella meh,
      stumptown iPhone bespoke selfies single-origin coffee PBR&amp;B
      shabby chic pour-over. Distillery raw denim pug paleo Helvetica,
      slow-carb deep v migas. Pork belly actually raw denim, chambray
      craft beer Pinterest fingerstache bicycle rights meditation.</p>
      <p>Photo booth American Apparel Etsy kitsch, leggings umami
        Tumblr Pinterest Vice Truffaut. Tilde bicycle rights ennui, vegan
        Thundercats chia readymade. Mlkshk brunch narwhal, fashion
        axe dreamcatcher Schlitz bitters leggings selfies Pitchfork umami
        single-origin coffee mixtape. Single-origin coffee meditation jean
        shorts Williamsburg, photo booth Helvetica Neutra art party
        bespoke. Ethical farm-to-table Vice, asymmetrical fingerstache
        street art organic taxidermy umami synth next level. Scenester
        Intelligentsia tousled, +1 mixtape synth trust fund leggings.
        Readymade drinking vinegar Blue Bottle raw denim squid health goth.</p>
        <p>Retro crucifix PBR&amp;B Odd Future craft beer irony. Single-origin
          coffee bicycle rights street art flannel. Disrupt put a bird on it wolf,
          literally polaroid Godard gentrify fanny pack freegan occupy
          normcore bitters YOLO. Before they sold out Blue Bottle organic,
          skateboard slow-carb +1 Marfa wolf art party asymmetrical.
          Locavore four loko cornhole letterpress health goth, brunch 3
          wolf moon Banksy artisan viral retro. Keffiyeh pickled 8-bit
          letterpress. VHS vegan cold-pressed lumbersexual, ennui listicle
          food truck viral.</p>
    </div>

    <hr>

    <div id="share_box">
      <p>Share The DO List</p>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
    </div>

    <hr>

  </div>




	<footer id="main_footer">
		<p class="copyright">&copy;2015 Jo&euml;l Mik</p>
		<nav>
			<a class="fa fa-facebook" href="#"></a>
			<a class="fa fa-github" href="#"></a>
			<a class="fa fa-codepen" href="#"></a>
		</nav>
	</footer>
</body>
</html>
